        .notontime {
            color:red;
        }

        .ontime {
            color: green;
        }

        .normal {
            color: black;
        }

        .reached {
            background-color: blue;
        }

        .notreached {
            background-color: white;
        }
  