<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <hr><b>
    An error occurred in the application.<br>

    Please seek help from the developers.<br><br>
    </b>
    Error: <%= err %><br>
    <%= stack %>
    <hr>
</body>